<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.ResourceMapper">
    <resultMap id="ResourceResultMap" type="Resource">
        <id property="rid" column="rid"/>
        <result property="ctid" column="ctid"/>
        <result property="filename" column="filename"/>
        <result property="filepath" column="filepath"/>
        <result property="filesize" column="filesize"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="description" column="description"/>
        <result property="courseName" column="courseName"/>
        <result property="teacherName" column="teacherName"/>
        <result property="term" column="term"/>
    </resultMap>
    <select id="findAll" resultMap="ResourceResultMap">
        SELECT * FROM studentms.resource;
    </select>

    <select id="findById" resultMap="ResourceResultMap">
        SELECT * FROM studentms.resource WHERE rid = #{rid};
    </select>

    <select id="findBySearch" resultMap="ResourceResultMap">
        SELECT * FROM studentms.resource
        <where>
            <if test="resource.rid != null">
                rid = #{resource.rid}
            </if>
            <if test="resource.ctid != null">
                AND ctid = #{resource.ctid}
            </if>
            <if test="resource.filename != null">
                <if test="fuzzy == 0">
                    AND filename = #{resource.filename}
                </if>
                <if test="fuzzy == 1">
                    AND filename LIKE CONCAT('%', #{resource.filename}, '%')
                </if>
            </if>
            <if test="resource.description != null">
                <if test="fuzzy == 0">
                    AND description = #{resource.description}
                </if>
                <if test="fuzzy == 1">
                    AND description LIKE CONCAT('%', #{resource.description}, '%')
                </if>
            </if>
        </where>
    </select>

    <select id="findByCtid" resultMap="ResourceResultMap">
        SELECT * FROM studentms.resource WHERE ctid = #{ctid};
    </select>

    <select id="findByTeacher" resultMap="ResourceResultMap">
        SELECT
            r.*,
            c.cname as courseName,
            t.tname as teacherName,
            ct.term
        FROM studentms.resource r
        INNER JOIN studentms.ct ct ON r.ctid = ct.ctid
        INNER JOIN studentms.c c ON ct.cid = c.cid
        INNER JOIN studentms.t t ON ct.tid = t.tid
        WHERE ct.tid = #{tid};
    </select>

    <select id="findByStudent" resultMap="ResourceResultMap">
        SELECT
            r.*,
            c.cname as courseName,
            t.tname as teacherName,
            ct.term
        FROM studentms.resource r
        INNER JOIN studentms.ct ct ON r.ctid = ct.ctid
        INNER JOIN studentms.c c ON ct.cid = c.cid
        INNER JOIN studentms.t t ON ct.tid = t.tid
        INNER JOIN studentms.sct sct ON ct.cid = sct.cid AND ct.tid = sct.tid AND ct.term = sct.term
        WHERE sct.sid = #{sid};
    </select>

    <update id="updateById">
        UPDATE studentms.resource
        <set>
            <if test="resource.filename != null and resource.filename != ''">
                filename = #{resource.filename},
            </if>
            <if test="resource.filepath != null and resource.filepath != ''">
                filepath = #{resource.filepath},
            </if>
            <if test="resource.filesize != null">
                filesize = #{resource.filesize},
            </if>
            <if test="resource.description != null">
                description = #{resource.description},
            </if>
        </set>
        WHERE rid = #{resource.rid};
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="rid">
        INSERT INTO studentms.resource (ctid, filename, filepath, filesize, upload_time, description)
        VALUES (#{resource.ctid}, #{resource.filename}, #{resource.filepath}, #{resource.filesize}, #{resource.uploadTime}, #{resource.description})
    </insert>

    <delete id="deleteById">
        DELETE FROM studentms.resource WHERE rid = #{rid}
    </delete>
</mapper>